body {
  background: #282828;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #ebdbb2;
  padding: 0 12px;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.06em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 2.1em;
}

footer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

a {
  color: #fe8019;
}

a:hover {
  color: #d65d0e;
}

.social-img {
  height: 30px;
  min-width: 30px;
  max-width: 40px;
}

.social-img:hover {
  animation-name: social-img-animation;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes social-img-animation {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

#ufo {
  position: relative;
  display: inline-block;
  animation-name: ufo-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes ufo-animation {
  0% {
    transform: rotate(0deg) translate(40px, -40px);
  }
  10% {
    transform: rotate(5deg) translate(36px, -36px);
  }
  20% {
    transform: rotate(0deg) translate(32px, -32px);
  }
  30% {
    transform: rotate(-5deg) translate(28px, -28px);
  }
  40% {
    transform: rotate(0deg) translate(24px, -24px);
  }
  50% {
    transform: rotate(5deg) translate(20px, -20px);
  }
  60% {
    transform: rotate(0deg) translate(16px, -16px);
  }
  70% {
    transform: rotate(-5deg) translate(12px, -12px);
  }
  80% {
    transform: rotate(0deg) translate(8px, -8px);
  }
  90% {
    transform: rotate(5deg) translate(4x, -4px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

#email {
  display: none;
}


@font-face {
  font-family: Roboto;
  src: local(Roboto), local(Roboto-Regular), url(assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Bold), url(assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-display: block;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Italic), url(assets/fonts/Roboto-Italic.ttf) format("truetype");
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-BoldItalic), url(assets/fonts/Roboto-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
  font-display: block;
}
