body {
  background: #282828;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #ebdbb2;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

footer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

a {
  color: #fe8019;
}

a:hover {
  color: #d65d0e;
}

.social-img {
  height: 30px;
  width: 30px;
}

.social-img:hover {
  animation-name: social-img-animation;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes social-img-animation {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

#ufo {
  position: relative;
  display: inline-block;
  animation-name: ufo-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes ufo-animation {
  0% {
    transform: rotate(0deg);
    bottom: 40px;
    left: 40px;
  }
  25% {
    transform: rotate(10deg);
    bottom: 30px;
    left: 30px;
  }
  35% {
    transform: rotate(0deg);
    bottom: 26px;
    left: 26px;
  }
  50% {
    transform: rotate(-10deg);
    bottom: 20px;
    left: 20px;
  }
  65% {
    transform: rotate(0deg);
    bottom: 14px;
    left: 14px;
  }
  75% {
    transform: rotate(10deg);
    bottom: 10px;
    left: 10px;
  }
  100% {
    transform: rotate(0deg);
    bottom: 0;
    left: 0;
  }
}
